﻿@model AdventureWorksProduct.DbModel.Product

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Product</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ProductId" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductNumber" class="control-label"></label>
                <input asp-for="ProductNumber" class="form-control" />
                <span asp-validation-for="ProductNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MakeFlag" class="control-label"></label>
                <input asp-for="MakeFlag" class="form-control" />
                <span asp-validation-for="MakeFlag" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FinishedGoodsFlag" class="control-label"></label>
                <input asp-for="FinishedGoodsFlag" class="form-control" />
                <span asp-validation-for="FinishedGoodsFlag" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Color" class="control-label"></label>
                <input asp-for="Color" class="form-control" />
                <span asp-validation-for="Color" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SafetyStockLevel" class="control-label"></label>
                <input asp-for="SafetyStockLevel" class="form-control" />
                <span asp-validation-for="SafetyStockLevel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReorderPoint" class="control-label"></label>
                <input asp-for="ReorderPoint" class="form-control" />
                <span asp-validation-for="ReorderPoint" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StandardCost" class="control-label"></label>
                <input asp-for="StandardCost" class="form-control" />
                <span asp-validation-for="StandardCost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ListPrice" class="control-label"></label>
                <input asp-for="ListPrice" class="form-control" />
                <span asp-validation-for="ListPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Size" class="control-label"></label>
                <input asp-for="Size" class="form-control" />
                <span asp-validation-for="Size" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SizeUnitMeasureCode" class="control-label"></label>
                <select asp-for="SizeUnitMeasureCode" class="form-control" asp-items="ViewBag.SizeUnitMeasureCode"></select>
                <span asp-validation-for="SizeUnitMeasureCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WeightUnitMeasureCode" class="control-label"></label>
                <select asp-for="WeightUnitMeasureCode" class="form-control" asp-items="ViewBag.WeightUnitMeasureCode"></select>
                <span asp-validation-for="WeightUnitMeasureCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Weight" class="control-label"></label>
                <input asp-for="Weight" class="form-control" />
                <span asp-validation-for="Weight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DaysToManufacture" class="control-label"></label>
                <input asp-for="DaysToManufacture" class="form-control" />
                <span asp-validation-for="DaysToManufacture" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductLine" class="control-label"></label>
                <input asp-for="ProductLine" class="form-control" />
                <span asp-validation-for="ProductLine" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Class" class="control-label"></label>
                <input asp-for="Class" class="form-control" />
                <span asp-validation-for="Class" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Style" class="control-label"></label>
                <input asp-for="Style" class="form-control" />
                <span asp-validation-for="Style" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductSubcategoryId" class="control-label"></label>
                <select asp-for="ProductSubcategoryId" class="form-control" asp-items="ViewBag.ProductSubcategoryId"></select>
                <span asp-validation-for="ProductSubcategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductModelId" class="control-label"></label>
                <select asp-for="ProductModelId" class="form-control" asp-items="ViewBag.ProductModelId"></select>
                <span asp-validation-for="ProductModelId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SellStartDate" class="control-label"></label>
                <input asp-for="SellStartDate" class="form-control" />
                <span asp-validation-for="SellStartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SellEndDate" class="control-label"></label>
                <input asp-for="SellEndDate" class="form-control" />
                <span asp-validation-for="SellEndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiscontinuedDate" class="control-label"></label>
                <input asp-for="DiscontinuedDate" class="form-control" />
                <span asp-validation-for="DiscontinuedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rowguid" class="control-label"></label>
                <input asp-for="Rowguid" class="form-control" />
                <span asp-validation-for="Rowguid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModifiedDate" class="control-label"></label>
                <input asp-for="ModifiedDate" class="form-control" />
                <span asp-validation-for="ModifiedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
