﻿@model IEnumerable<AdventureWorksProduct.DbModel.Product>

@{
    ViewData["Title"] = "Index";
}

<h1>All Products</h1>

<p>
    <a asp-action="Create">Create New Product</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MakeFlag)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FinishedGoodsFlag)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SafetyStockLevel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReorderPoint)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StandardCost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ListPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Size)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Weight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DaysToManufacture)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductLine)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Class)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Style)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SellStartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SellEndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiscontinuedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rowguid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModifiedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductModel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductSubcategory)
            </th>
            @*<th>
            @Html.DisplayNameFor(model => model.SizeUnitMeasureCodeNavigation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WeightUnitMeasureCodeNavigation)
        </th>*@
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MakeFlag)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FinishedGoodsFlag)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SafetyStockLevel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReorderPoint)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StandardCost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ListPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Size)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Weight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DaysToManufacture)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductLine)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Class)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Style)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SellStartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SellEndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiscontinuedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rowguid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductModel.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductSubcategory.Name)
            </td>
            @*<td>
            @Html.DisplayFor(modelItem => item.SizeUnitMeasureCodeNavigation.UnitMeasureCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WeightUnitMeasureCodeNavigation.UnitMeasureCode)
        </td>*@
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProductId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ProductId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ProductId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
